<header>
<h1><a href="/">Gitanshu Munjal</a></h1>
<br>
<p class="view"><a href="/books/">Books I like<small class="hvr-pulse-grow"> reading & read</a></small></p>
<br>
<p class="view"><a href="https://grmunjal.exposure.co">Pictures<small class="hvr-pulse-grow"> snapshots from the daily</a></small></p>
<br>
<p class="view"><a href="/sounds/">Sounds<small class="hvr-pulse-grow"> what I'm listening to</a></small></p>
<br>
<p class="view"><a href="/cv/Munjal-CV.pdf">CV<small class="hvr-pulse-grow"> I Do</a></small></p>
<br> 
<p class="view"><a href="/posts/">Blog<small class="hvr-pulse-grow"> hello world</a></small></p>
<br />
</header>
